.content input.search {
  border: 2px solid #ececec;
  border-radius: 5px;
}

.notification-label{
    top: 15px;
    left: 35px;
}

.profile-btn{
    border-radius: 50%;
    background-color: lightgray;
    color: #444;
    box-shadow: 0 5px 5px -3px #ddd;
    /* background: url('https://thumbs.dreamstime.com/b/happy-black-woman-showing-ok-gesture-smiling-looking-camera-satisfied-hand-cheerful-african-female-customer-student-138434650.jpg'); */
    background-size: cover;
    background-position: center center;
}

.profile-btn  img{
    border-radius: 50%;
    padding: 1px;
    display: inline-block;
    top: 0;
    right: 0px;
}

.profile-btn p{
    display: inline-block;
    left: 12px;
}
